extends ../layout
block extScript
  script(src='/javascripts/underscore/underscore-min.js')
  script(src='/javascripts/ajax/getRoom.js')
  script.
    $(getRoom('#{hotel._id}'));

mixin comment(commentArray)
  -for(var i in commentArray){
    .row
      .col-lg-3.col-md-3 !{commentArray[i].username}
      .col-md-6.col-lg-6.pull-right !{commentArray[i].date}
    .row
      .col-lg-12.col-md-12 !{commentArray[i].content}
  -}

block content
  .container
    .row
      .col-xs-12.col-sm-12.col-md-6.col-lg-6
        img(data-src="holder.js/380x250" alt="image" src=hotel.main_image)
      .col-xs-0.col-sm-0.col-md-6.col-lg-6
        h1.label-default !{hotel.name}
        p !{hotel.brief_intro}
        a.btn.btn-primary(href="/reserve/"+hotel._id) 立即预订
    .row
      div.roomSchemaBox
      .col-md-12.col-lg-12
        div.clear
          h1 详细说明
          p !{hotel.intro}
    .row
      .col-md-12.col-lg-12
        div
          h1 评价详情
          +comment(hotel.comment)


  script(type='text/template').PanelTemplate.
    <div class="col-md-3">
    <div class="panel panel-default">
     <div class="panel-heading">
        <%= name %>
     </div>
     <div class="panel-body">
        <p>尺寸：<%= size||"NaN" %></p>
        <p>窗户：<%= hasWindow?"有":"无" %></p>
        <p>价格：<%= price||"NaN" %></p>
     </div>
     </div>
    </div>